.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
}

/* we can apply CSS3 transitions to SVG elements */
rect { /* vendor prefixes */
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; /* apply transition with duration of 25ms to
    any changes of rects in our chart */
}

rect:hover {
    fill: orange;
}