.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
}

/* TODO: Fade from orange to blue

We can apply CSS3 transitions to SVG elements */
/*
rect { /* vendor prefixes */
/*    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; /* apply transition with duration of 25ms to
    any changes of rects in our chart */
/*}*/

/*rect:hover {
    fill: orange;
}*/

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}