.dangerLine {
  stroke: red;
  fill: none;
  stroke-width: 0.5;
}

.dangerLabel {
  fill: red;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.safeLevel {
        stroke: red;
        stroke-dasharray: 2, 3;
      }

.area {
  fill: teal;
}

.dangerArea {
  fill: red;
}